<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <inchoo_ticketmailer>
            <email_template>
                <template>inchoo_ticket_email</template>
            </email_template>
        </inchoo_ticketmailer>
    </default>
</config>