<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="inchoo_support_ticket_created">
        <observer name="inchoo_send_mail" instance="Inchoo\TicketMailer\Observer\SendMail"/>
    </event>
</config>